

trigger:
- main

pool:
  vmImage: ubuntu-latest

stages:
- stage: Build
  displayName: Build & Test
  jobs:
    - job: BuildJob
      steps:
        - task: UsePythonVersion@0
          inputs:
            versionSpec: '3.9'
        - script: |
            pip install pytest
            pytest
          displayName: Run Unit Tests
        - task: Docker@2
          displayName: Build and Push Docker Image
          inputs:
            command: buildAndPush
            repository: $(imageName)
            Dockerfile: Dockerfile
            containerRegistry: $(dockerRegistryServiceConnection)
            tags: |
              $(Build.BuildId)
- stage: Deploy
  displayName: Deploy to Azure App Service
  dependsOn: Build
  jobs:
    - job: DeployJob
      steps:
        - task: AzureWebAppContainer@1
          inputs:
            azureSubscription: $(azureSubscription)
            appName: $(appName)
            containers: |
              $(imageName):$(Build.BuildId)

