

trigger:
- main

pool:
  name: self-hosted-linux
  demands:
    - agent.name -equals agent1

stages:
- stage: Build
  displayName: Build & Test
  jobs:
    - job: BuildJob
      steps:
        - script: |
            python3 --version
            python3 -m pip install --upgrade pip
            python3 -m pip install -r requirements.txt
            python3 -m pip install pytest
            python3 pytest
          displayName: Run Unit Tests
        - task: Docker@2
          displayName: Build and Push Docker Image
          inputs:
            command: buildAndPush
            repository: $(imageName)
            Dockerfile: Dockerfile
            containerRegistry: $(dockerRegistryServiceConnection)
            tags: |
              $(Build.BuildId)
- stage: Deploy
  displayName: Deploy to Azure App Service
  dependsOn: Build
  jobs:
    - job: DeployJob
      steps:
        - task: AzureWebAppContainer@1
          inputs:
            azureSubscription: $(azureSubscription)
            appName: $(appName)
            containers: |
              $(imageName):$(Build.BuildId)

