trigger:
- main

variables:
  imageName: py-app
  acrName: pyazuredevops.azurecr.io

pool:
  name: self-hosted-linux
  demands:
    - Agent.Name -equals agent1

stages:
- stage: Build
  jobs:
  - job: BuildAndPush
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      inputs:
        command: buildAndPush
        repository: $(imageName)
        dockerfile: Dockerfile
        containerRegistry: acr-conn
        tags: latest

- stage: Deploy
  jobs:
  - job: DeployToAKS
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: KubernetesManifest@0
      inputs:
        action: deploy
        kubernetesServiceConnection: aks-devops-cluster-default
        manifests: |
          k8s/deployment.yaml
          k8s/service.yaml
