trigger:
- main

pool:
  name: self-hosted-linux
  demands:
    - Agent.Name -equals agent1

variables:
  imageName: py-app

stages:
- stage: Build
  jobs:
  - job: BuildAndPush
    steps:
    - task: Docker@2
      inputs:
        command: buildAndPush
        repository: $(imageName)
        dockerfile: Dockerfile
        containerRegistry: pyAzureDevops
        tags: latest

- stage: Deploy
  jobs:
  - job: DeployToAKS
    steps:
    - task: KubernetesManifest@0
      inputs:
        action: deploy
        kubernetesServiceConnection: aks-devops-cluster-default
        manifests: |
          k8s/deployment.yaml
          k8s/service.yaml
