trigger:
- main

pool:
  name: self-hosted-linux
  demands:
    - Agent.Name -equals agent1

stages:
- stage: Build
  displayName: Build, Test & Dockerize
  jobs:
  - job: BuildJob
    steps:

    - checkout: self
      clean: true

    - script: |
        python3 --version
      displayName: Verify Python

    - script: |
        echo "Moving to app directory..."
        cd app

        python3 -m venv venv
        source venv/bin/activate

        pip install --upgrade pip
        pip install -r requirements.txt
      displayName: Setup Python Virtual Environment

    - script: |
        cd app
        source venv/bin/activate
        python app.py || echo "App run skipped"
      displayName: Run App

    - task: Docker@2
      displayName: Build and Push Docker Image
      inputs:
        command: buildAndPush
        repository: $(imageName)
        dockerfile: Dockerfile
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(Build.BuildId)

- stage: Deploy
  displayName: Deploy to Azure App Service
  dependsOn: Build
  jobs:
  - job: DeployJob
    steps:
    - task: AzureWebAppContainer@1
      inputs:
        azureSubscription: $(azureSubscription)
        appName: $(appName)
        containers: |
          $(imageName):$(Build.BuildId)
